@{
    ViewBag.Title = "Home Page";
}

@section feachured
    {
    <section class="feachured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1><font><font class="">Main page Movie Shop</font></font></h1>
                <h1>@ViewBag.Message</h1>
            </hgroup>

        </div>

    </section>
    
    }




@*<div class="jumbotron">
    <h1>Movie Data Base</h1>
    <p class="lead">Welcome to our movie shop!</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shopping started!</h2>
        <p>
            We propose you many different interesting movies.
        </p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    @*</div>
    <div class="col-md-4">
        <h2>More movies</h2>
        <p>You can always buy here new or old movies.</p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    @*</div>
    <div class="col-md-4">
        <h2>Best price</h2>
        <p>You can not find better price than we propose you jast now.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    @*</div>
</div>*@



@*was i web.config:
    
    <contexts>
    <context type="DotNetAssesment3.DAL.MovieContext, DotNetAssesment3">
        <databaseInitializer type="DotNetAssesment3.DAL.MovieInitializer, DotNetAssesment3" />
    </context>
</contexts>*@